body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #74ebd5, #ACB6E5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
